.card{
    box-shadow: 0 0 1px gray;
}
.card-lg{
    box-shadow: 0 0 2px rgb(90, 90, 90);
}
.divider{
    border-bottom: 1px solid rgb(181, 181, 181);
    margin: 10px 0;
}

.loader-parent{
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.638);
    z-index: 100000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader{
    height: 80px;
    width: 80px;
    border:5px solid white;
    border-left-color: transparent;
    border-radius: 50%;
    animation: loader 1s linear infinite;
}

.option{
    box-shadow: rgba(0,0, 0, 0.638) 0px 0px 1.5px;
    padding: 10px;
    border-radius: 3px;
}

.selected-option{
    box-shadow: rgba(0,0, 0, 0.638) 0px 0px 1.5px;
    padding: 10px;
    border-radius: 3px;
    border: 2px solid var(--primary);
}

.result{
    background-color: rgb(186, 222, 114);
    padding: 30px;
    color: white !important;
    border-radius: 5px;
}

.lottie-animation{
    height: 200px;

}

@keyframes loader {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}