
input, select{
    height: 40px !important;
    padding:10px 20px !important;
    border: 2px solid #ccc !important;
    width: 100% !important;
    border-radius: 5px !important;
}

.ant-form-item{
    margin-bottom: 5px !important;
}

button{
    padding: 10px 25px;
}
.primary-contained-btn{
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.primary-outline-btn{
    background-color:white;
    color: var(--primary);
    border: 1px solid var(--primary);
    padding: 10px 20px;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}