
.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-lg{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-md{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-sm{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xs{
    font-size: 1.5rem;
    line-height: 2rem;
}

