
.text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xl{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-lg{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-md{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-sm{
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xs{
    font-size: 1.5rem;
    line-height: 2rem;
}

h1{
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

a{
    color: var(--primary)!important;
}

a:hover{
    color: var(--primary)!important;
    text-decoration: underline !important;
}